.home-container {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5rem;

  &.with-messages {
    justify-content: space-between;
    padding-top: 2rem;

    gap: 0rem;

    height: calc(100vh - 4rem);
  }
}

.messages-list {
  width: calc(min(100ch, 90vw));
  overflow-y: auto;
  padding: 1rem 0;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
