.home-container {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5rem;

  &.with-messages {
    justify-content: space-between;
  }
}
