.message {
  background-color: var(--background-color-one);
  border: 1px solid var(--border-color);
  max-width: 90%;
  padding: 1rem;
  border-radius: 0 2rem 2rem 2rem;

  color: var(--text-color-secondary);

  &.user {
    margin: 1rem 0 1rem auto;
    border-radius: 2rem 0 2rem 2rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
  }

  &.assistant.loading > p:last-of-type {
    display: inline;
  }

  &.assistant .skeleton-word {
    display: inline-block;
    height: 1.5rem;
    background: linear-gradient(140deg, var(--border-color) 0%, var(--background-color-two) 50%, var(--border-color) 100%);
    border-radius: 0.5rem;
    animation: skeleton-loader 1s infinite;
    width: 10rem;
    vertical-align: middle;
    margin-left: 0.25rem;
    background-size: 200% 100%;
  }
}

@keyframes skeleton-loader {
  0% {
    background-position: 200% 100%;
  }
  100% {
    background-position: -200% 0;
  }
}
