.message {
  background-color: var(--background-color-one);
  border: 1px solid var(--border-color);
  max-width: 90%;
  padding: 1rem;
  border-radius: 0 2rem 2rem 2rem;

  color: var(--text-color-secondary);

  &.user {
    margin: 1rem 0 1rem auto;
    border-radius: 2rem 0 2rem 2rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
  }

  &.assistant .skeleton-word {
    display: inline-block;
    height: 1.5rem;
    background-color: var(--border-color);
    border-radius: 0.5rem;
    animation: skeleton-blink 1.5s infinite;
    width: 10rem;
  }
}

@keyframes skeleton-blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
