.status-card-wrapper {
  display: flex;
  justify-content: center;
  height: fit-content;

  .status-card {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: var(--background-color-one);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;

    width: fit-content;
    max-width: 33%;
    min-width: 20rem !important;
  }
}
